body {
  font-family: Arial, sans-serif;
  background-color: lightblue;
  color: darkgray;
  margin: 0;
  padding: 20px;
}
.container {
  max-width: 800px; 
margin: 50px auto;
  padding: 30px;
  background-color: white;
  dorder-radius: 10px;
  box-shadow: 0 0 15px gray;
  text-align: center;
}

h1 {
  color: darkblue;
  border-bottom: 3px solid darkblue;
  padding-bottom: 10px;
}

h2 { 
  color: blue;
}

p {
  line-height: 1.8;
  font-size: 16px;
}
  
  
  
